*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container-content{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.group-button-control-view{
    display: flex;
    align-items: center;
    justify-content: center;
}
#templateGenerate_box{
  width: 50vw;
  height: 50vh;
}
#templateGenerate_box img{
  width: 50vw;
  height: 50vh;
}

.boton-elegante {
    padding: 15px 30px;
    border: 2px solid #2c2c2c;
    background-color: #1a1a1a;
    color: #ffffff;
    font-size: 1.2rem;
    cursor: pointer;
    border-radius: 30px;
    transition: all 0.4s ease;
    outline: none;
    position: relative;
    overflow: hidden;
    font-weight: bold;
  }
  
  .boton-elegante::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(
      circle,
      rgba(255, 255, 255, 0.25) 0%,
      rgba(255, 255, 255, 0) 70%
    );
    transform: scale(0);
    transition: transform 0.5s ease;
  }
  
  .boton-elegante:hover::after {
    transform: scale(4);
  }
  
  .boton-elegante:hover {
    border-color: #666666;
    background: #292929;
  }
  
  @media only screen and (max-width: 1200px) {
    .image-item{
      width: 100vw;
    }
    #templateGenerate_box{
      width: 100%;
      height: 100%;
    }
    #templateGenerate_box img{
      width: 100%;
      height: 100%;
    }
    
  }
